aioredis==1.1.0
aioredlock==0.2.0
async-timeout==3.0.0
atomicwrites==1.2.0
attrs==18.1.0
hiredis==0.2.0
more-itertools==4.3.0
pluggy==0.7.1
psutil==5.4.7
py==1.5.4
pytest==3.7.3
pytest-asyncio==0.9.0
redis==2.10.6
redislite==3.2.311
redlock==1.2.0
six==1.11.0
